<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <title>@ViewData["Title"] - eCommerce</title>
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                            <li class="hot"><a asp-area="" asp-controller="Produit" asp-action="Index"> Product list</a></li>
                                            <li><a asp-area="" asp-controller="Account" asp-action="MyProfil">MyProfil</a></li>
                                            <li><a asp-area="" asp-controller="Account" asp-action="MyAdresse">MyAdresse</a></li>
                                            <li><a asp-area="" asp-controller="Panier" asp-action="MyCommand">MyCommand</a></li> 
                                            <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <!--li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class=" d-none d-xl-block">
                                        <div class="favorit-items">
                                            <i class="far fa-heart"></i>
                                        </div>
                                    </li-->
                                    <li>
                                        <div class="shopping-card">
                                            <a asp-area="" asp-controller="Panier" asp-action="Index"><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                    </li>
                                    <!--li class="d-none d-lg-block"> <a asp-area="" asp-controller="Account" asp-action="Login" class="btn header-btn">Sign In</a></li-->
                                    @if (Context.Session.GetString("SessionUser") != null)
                                    {
                                        <li class="d-none d-lg-block"> <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn header-btn">Sign Out</a></li>
                                    }
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">About</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index"> Offers & Discounts</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index"> Get Coupon</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">  Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Woman Cloth</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Fashion Accessories</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index"> Man Accessories</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index"> Rubber made Toys</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Frequently Asked Questions</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Terms & Conditions</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Privacy Policy</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Privacy Policy</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Report a Payment Issue</a></li>
                                </ul>
                            </div>
                        </div><div class="container">

                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy; 2020 - eCommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> All rights reserved
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-twitter"></i></a>
                                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-facebook-f"></i></a>
                                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-behance"></i></a>
                                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/animated.headline.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>